.main-page-content {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 10px;
  justify-content: space-evenly;
  gap:15px;
}
.recent-div {
  width: 30%;
  min-width: 140px;
}
.gamepage-div {
  width: 70%;
}
@media only screen and (max-width: 660px) {
  .main-page-content{
    width:100%;
  }
}