.nav *{
  background: transparent;
}
.mobile{
    display: none;
}
.nomobile{
    display: block;
}
.nav{
    display: flex;
    box-sizing: border-box;
    padding:10px;
    align-items: center;
    justify-content: space-between;
    background-color: #22132e;
    color: #f2f2f2;
    border-bottom: 1px double #471b6d;
    margin-bottom: 20px;
}
.logoName{
    display: flex;
    box-sizing: border-box;
    padding:5px;
    align-items: center;
    gap:5px;
}
.picLogo{
    height:40px;
}
.textLogo{
    aspect-ratio: 21/4;
    max-height:40px;
    max-width: 50vw;
}
.logoName h1{
    font-size: 40px;
    line-height: 33px;
}
.userSettings{
    display: flex;
    gap:5px;
}
.userSettings img{
    height:40px;
    border-radius: 20px;
}
.userSettings a{
    font-weight: bold;
}
.userOptions p{
    font-size: 10px;
}
.userOptions ul{
    display: flex;
    gap: 20px;
}
.userOptionsB{
    position:absolute;
    background-color: #22132e;
    width:120px;
    right:0;
    top:71px;
    box-sizing: border-box;
    padding:10px;
    border: 1px double #471b6d;
    border-top: 0px;
    border-radius: 0px 0px 20px 20px;
}
.userOptionsB ul{
    display: block;
    text-align: center;
}
.burgerMenu{
    display: none;
    align-items: center;
}
.burgerMenu button{
    font-size: 45px;
    line-height: 50px;
}
.hiddenDiv{
    height: 0;
    line-height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out, visibility 0s .5s, opacity .5s linear;
}
.visibleDiv{
    height: 93px;
    line-height: 24px;
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in-out, opacity .5s linear;
}
@media only screen and (max-width: 660px){ /* if thinner than this then nav looks awful. turning it into a burger */
    .nomobile{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media only screen and (max-width:390px){
    .logoName h1{
        display: none;
    }
    .nav{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .userOptionsB{
        top:56px;
    }
}