.wrapperLogin {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:50px
}

.loginBox {
  width: 32%;
  max-width: 480px;
  aspect-ratio: 6/7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px double #471b6d;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(71, 27, 109, 0.7)
  );
  border-radius: 30px;
}

.loginForm {
  width: 95%;
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;
}

.sub-but {
  margin: 10px;
}

.loginInput {
  width: 95%;
  padding: 10px;
  border: 1px solid #0b0808;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  background-color: #471b6d; /* this doesnt work */
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  background: transparent;
}

.signup-but {
  background-color: #c20000;
  border-radius: 5px;
  padding-left:5px;
  padding-right:5px;
  max-height: max-content;
  max-width: max-content;
}

.logo {
  margin: 50px;
  height: 70%;
  width: 45%;
  transform: scale(0);
  opacity: 0;
  transition: transform 3s ease-in-out, opacity 3s ease-in-out;
}
.logo.appear {
  transform: scale(1);
  opacity: 1;
}

@keyframes logoAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.logo-name {
  background: transparent;
  max-width: 480px;
  /* margin: 50px; */
  width: 32%;
  height: auto;
}


.signupPrompt {
  background: transparent;
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
}

.signup-success {
  background: transparent;
  margin: 50px;
  border: 1px solid green;
}

.signup-fail {
  background: transparent;
  margin: 50px;
  border: 1px solid rgba(194, 0, 0, 1);
}

@media only screen and (max-width:660px){
  .wrapperLogin{
    flex-direction: column;
    gap:20px;
  }
  .loginBox{
    width:80%;
    max-height: 430px;
    max-width: 400px;
    padding:5px;
  }
  .logo-name{
    width: 70%;
    height: auto;
  }
}
