.game-box {
  border: 1px double #471b6d;
  margin: 25px;
  position: relative;
  width: 80%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 1; 
  transition: opacity 0.5s ease-in-out;  */
}

.game-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #471b6d);
}

.game-box:hover .game-image {
  opacity: 0.8; /* Adjust as needed */
}
