* {
  color: #ebe9fc;
  background-color: #010104;
}
button {
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
button:hover {
  border: 1px solid rgba(194, 0, 0, 1);
  border-radius: 5px;
  background-color: #161616;
  animation: wiggle 2s linear infinite;
}

@font-face {
  font-family: "HighGame";
  src: url("/fonts/HighGame.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

body {
  background: #000;
}
/*  */
