* {
  color: #ebe9fc;
  background-color: #010104;
}
button {
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
button:hover {
  border: 1px solid rgba(194, 0, 0, 1);
  border-radius: 5px;
  background-color: #161616;
}

.main-page {
  display: flex;
  flex-direction: row;
  width: 100vh;
  padding: 10px;
}

.recent-div {
  width: 25%;
}

@font-face {
  font-family: "HighGame";
  src: url("/fonts/HighGame.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* 
body {
  font-family: "HighGame", sans-serif;
} */
